html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0px;
}
.topSection{
    width: 100%;
    height: 10%;
    background-color: yellow;
}
.messageBox{
    width: 85%;
    max-width: 85%;
    height: 83%;
    table-layout: fixed;
    overflow-y: scroll;
    /*background-color: chocolate;*/
}
.userBox{
    width: 15%;
    height: 83%;
    position: absolute;
    left: 85%;
    top: 10%;
    background-color: darkgreen;
}
.inputBox{
    width: 100%;
    height: 7%;
    position: relative;
    background-color: darkviolet;
}
.helpDiv{
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -0.625em;
    text-align: center;
}
.inputMessage{
    width: 95%;
}

#name {
    width: 75%;
}

.message{
    display: table;
}

.mainDiv{
    width: 100%;
    display: inline-block;
}

.messText{
    width: 100%;
    word-wrap: break-word;

}

.deleteButton{
    border: none;
    background-color: transparent;
}
